<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <ul class="centrado">
      <li><a href="/">Home</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/gastos">Gastos</a></li>
      <li><a href="/personal">personal</a></li>

    </ul>
  </header>
  <div class="login-bar horizontal w-100">
    <ul class="right flex flex-end">

      <p>Hola, {{#if logged}} <b> {{nombre}}</b> {{else}} <b>Desconocido</b>{{/if}}</p>
      {{#if logged}}
      <li>
        <a href="/logout">salir</a>
      </li>

      {{else}}
      <li><a href="admin/login">Login</a>
        <a href="/sesion">Registro</a>
      </li>
      {{/if}}



    </ul>
  </div>
  <main class="columna centrado margin-tb-5"> {{{body}}}</main>

</body>

</html>